@{
    ViewData["Title"] = "Grcias";
}

<h1>Gracias por ponerte en contacto conigo</h1>
<p>Te contestare lo mas rapido posible<p>
    <div><a asp-controller="Home" asp-action="Index">Volver al home</a></div>