@model HomeIndexDTO;

@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">

    <h1 class="display-4">Ivan Alvarez Valencia</h1>
    <h2>desarrollador full stack</h2>

    <img id="foto" src="~/imagenes/imagen1.jpeg" alt="Foto de ivan" />
</div>

<div class="text-center">
    <img id="imagen-net" src="~/imagenes/net.png" alt="net logo" />
    <img id="imagen-net" src="~/imagenes/laravel.png" alt="net logo" />
    <img id="imagen-net" src="~/imagenes/angular.png" alt="net logo" />
    <img id="imagen-net" src="~/imagenes/flutter.png" alt="net logo" />

</div>

<partial name="_Habilidades"></partial>




