<div style="margin-top: -150px">

<div class="row justify-content-md-center text-center">
    <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
        <i class="bi-hdd-fill"></i>
        <h3>Back End</h3>
        <p>
            Trabajo desde el desarrollo, pruebas automáticas y puesta en producción con entrega continua.
        </p>
        <p class="text-primary cabecera">
            Stack :
        </p>
        <p>
            ASP.NET CORE , LARAVEL , SQL SERVER
        </p>
        <p class="text-primary cabecera">Experiencia</p>
        <ul>
            <li>WEB API´s</li>
            <li>ASP.NET MVC</li>
            <li>Entity Framework Core</li>
            <li>Blazor</li>
            <li>Eloquent</li>
            <li>Queries espaciales.</li>
        </ul>


    </div>
        <div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
        <i class="bi-code-slash"></i>
        <h3>Front End</h3>
        <p>
            Puedo crear frontend´s robustos los cuales cumplen con los requisitos del negocio. 
        </p>
        <p class="text-primary cabecera">
            Stack :
        </p>
        <p>
            LARAVEL , ANGULAR, REACT
        </p>
        <p class="text-primary cabecera">Experiencia</p>
        <ul>
            <li>React Hooks</li>
            <li>Angular material</li>
            <li>JQuery</li>
            <li>Pruebas Automaticas</li>
            <li>JavaScript</li>
        </ul>

    </div>

</div>
</div>