@model IEnumerable<Proyecto>


   <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach(var proyectos in Model)
            {
                <div class="col">
                    <div class="card h-100">
                        <img src="@proyectos.ImageURL" class="card-img-top" alt="imagen proyecto"/> 
                        <div class="card-body">
                            <h5 class="card-title">@proyectos.Titulo</h5>
                            <p class="card-text">@proyectos.Descripcion</p>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-primary" target="_blank" href="@proyectos.Link" rel="noopener noreferrer">Visitar</a>
                        </div>
                    </div>
                </div>   
            }
        </div>
    </div> 

