<div class="text-center">
    <h1 class="display-4">Mi nombre es  Ivan Alvarez Valencia</h1>
    <h2>Soy un desarrollador full stack con experiencia  en .NET y el framework Laravel</h2>

    <img id="foto" src="~/Imagenes/ivan.jpg" alt="Foto de Ivan" /> 

</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi C.V</h1>
        <p>
            He estado desarrollando software profesionalmente desde el 2017. He tenido privilegios de trabajo.
            Realizado proyectos para empresas como whirlpool,syger,hey banco,walmart ,integradora de alarmas.
            Todo este trabajo principalmente en aplicaciones con c#/asp.net,sql server,mysql,Entity framework,javascript,
            typescrypt,jquery,json,apis,Laravel,MVC,Eloquent,angularjs, entre otros.
        </p>

    </div>

</div>
