
@{
    ViewData["Title"] = "Gracias";
}
<h1>Gracias por contactarte con nostros.</h1>
<p>En cuanto podamos nos pondremos en contacto contigo.</p>
<div><a asp-action="Index" asp-controller="Home">Volver al home</a></div>